html {
    font-family: sans-serif;
}

.container {
    text-align: center;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

thead {
    background-color: rgb(40, 163, 2);
    color: white;
}

.p {
    background-color: #4CAF50;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.lixo {
    background-color: brown;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px 10px;
}

.highlight {
    border: 2px solid gold;
    transition: border 0.3s;
}
